<%- include("includes/head") %>
<body>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <div class="container">
        <h2> @<%=p.username%> </h1>
        <p>
            <%=p.content%>;
        </p>
        <hr>
        <br>
        <br>
        <a href="http://localhost:8080/posts">Back</a>
    </div>
</body>
<%- include("includes/footer") %>