<%- include("includes/head") %>
<body>
    <link rel="stylesheet" type="text/css" href="/newpost.css">
    <form method="post" action="/posts">
        <input placeholder="Enter username" name="username"/><br/><br/>
        <textarea rows="10" cols="40" placeholder="Write Here " name="content"></textarea><br/><br/>
        <button>Post</button>
    </form>
</body>
<%- include("includes/footer")%>